body {
    background: #121214;
}

nav {
    background: #202024;
}

.card, .container .card .card-action {
    background: #191622;
    border-radius: 10px !important;
}

table {
    background: #41356B;
    border-radius: 10px;
}
.story-title {
    color: #f2f2f2;
}

h1, h3, h5, h6, p {
    color: #f2f2f2;
}

input {
    color: white;
}

p {
    margin: 10px 0;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}